api_platform:
    title: TV Watchlist
    version: 1.0.0
    formats:
        jsonld: ['application/ld+json']
    docs_formats:
        jsonld: ['application/ld+json']
        jsonopenapi: ['application/vnd.openapi+json']
        html: ['text/html']
    defaults:
        stateless: true
        cache_headers:
            max_age: 0
            shared_max_age: 0
            vary: ['Content-Type', 'Authorization', 'Origin']
        extra_properties:
            standard_put: true
            rfc_7807_compliant_errors: true
    http_cache:
        public: false
    event_listeners_backward_compatibility_layer: false
    keep_legacy_inflector: false
