{# templates/app.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="custom-container">
        <div {{ react_component('Application') }}>
            Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
        </div>
    </div>
{% endblock %}
